html, body {
    font-family: Open Sans;
    position: relative;
    height: 100%;
}

h1#about-header {
    padding-top: 100px;
    margin: 0 auto;
    color: black;
    font-size: 48px;
    text-align: center;

}

.section {
    margin: 0px 0px 75px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    position: relative;
    box-shadow: 1px 1px 3px grey;
    padding: 0;
}

.small-line-height {
    line-height: 1.5;
}

.med-line-height {
    line-height: 2.0;
}

.row-spacer {
    padding: 35px;
}

.logo {
    width: 100%;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 2px;
}

.subtitle {
    font-size: 13px;
    color: grey;
    font-style: italic;
}

.description {
    margin-left: 25px;
    padding: 15px 15px 3px 0px;
}

.project-name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    font-size: 30px;
    color: black;
}

hr {
    margin: 0;
}

.content {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}


.reveal-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow-y: auto;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.reveal-content p {
    position: relative;
    margin: 30px;
}


/**
HEADER
 */
header ul {
    display: table;
    margin: auto;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
    font-size: 14px;
}


ul li {
    float: left;
}

ul li a:link {
    display: block;
    color: #b9b9b9;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}

ul li a:visited {
    color: #b9b9b9;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: none;
    color: #333333;
}

ul li a:active {
    text-decoration: none;
    color: #333333;
}

/*About*/
#home-portrait-div {
    position:relative;
    margin: 100px auto;
}

#home-portrait {
    width: 250px;
    border-radius: 50%;
    border: 5px solid #00e6b8;
}

#photo-grid {
    -webkit-column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    column-count: 2;
    column-gap: 50px;
}

#photo-grid img {
    display: block;
    position: relative;
    margin-top: 0px;
}

.photo-group {
    position: relative;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

.photo {
    margin: 50px 0px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

.photo-group:hover {
    transform: scale(1.04);
}

.reveal-caption {
    left: 0;
    position: absolute;
    text-align:center;
    top: 43%;
    width: 100%;
    display: none;
    font-style: italic;
    font-size: 1.5vw;
}

/*Contact*/
footer {
    position: relative;
    color: white;
    text-align: center;
}

footer h1 {
    color: white;
    padding: 50px 0px 0px 0px;
}

a.contact-link:link {
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
    color: white;
}

a.contact-link:hover {
    text-decoration: none;
    color: #00e6b8;
}




footer ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
}

.fa {
    width: 75px;
    height: 75px;
    font-size: 50px;
    text-decoration: none;
    color: black;
    border-radius: 15%;
}

.fa:hover {
    opacity: 0.9;
    text-decoration: none;
    color: #333333;
}

/**
ABOUT-ME
 */
.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 20px;
    text-align: justify;
}

p {
    font-size: 15px;
}